body {
  background: rgb(224, 231, 235);
}

.App-header {
  margin: 30px 0;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(28, 87, 164);
  font-weight: 400;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin: 30px 0;
}
