.Meaning h3 {
  font-size: 24;
  font-weight: bold;
  line-height: 1.5;
}

.Meaning .definition {
  font-weight: 400;
  font-size: 18px;
}

.Meaning .example {
  font-style: italic;
  font-size: 14px;
  opacity: 0.7;
  margin-top: 5px;
}
